.Footer{
    border-top: 1px solid gray;
    padding: 10px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.purple{
    border-color: purple;
    margin: 5px;
}
.green{
    border-width: 2px;
    margin: 5px;
}
.purple:hover{
    background-color: purple;
    color: white;
}
.green:hover{
    background-color: green;
    color: white;
}
.themer{
    display: flex;
    justify-content: center;
    align-items: center;
}